:root {
  --font-1: 'Oswald';
  --font-size-base: clamp(1rem, 4vw, 1.5rem);
  --font-smallest: calc(var(--font-size-base) * 0.7);
  --font-small: calc(var(--font-size-base) * 0.8);
  --font-medium: calc(var(--font-size-base) * 1.2);
  --font-large: calc(var(--font-size-base) * 1.4);

  // Colors
  color-scheme: light dark;
  --color-1: oklch(1 0 0);
  --color-2: oklch(0 0 0);

  // Fallbacks for older browsers
  --color-text: var(--color-2);
  --color-background: var(--color-1);

  // Override in supporting browsers
  --color-text: light-dark(var(--color-2), var(--color-1));
  --color-background: light-dark(var(--color-1), var(--color-2));
}