---
import Base from "@layouts/Base.astro";
import TradeList from "@components/TradeList.astro";
import { site } from "@data/config.mjs";
---

<Base tabTitle="Home" description={site.description}>
  <h1>Trades</h1>
  <TradeList/>
</Base>
