---
import Base from "@layouts/Base.astro";
---

<Base title="Rules" description="Rules and criteria for every trade.">
  <ol>
    <li>One trade per day. If you're doing things right, you won't need more than that.</li>
  </ol>
</Base>
