---
import Base from "@layouts/Base.astro";
---

<Base title="Rules" description="Rules and criteria for every trade.">
  <h2>One trade per day</h2>
  <p>To ensure you actually think it through.</p>
</Base>
