<nav>
  <a href="/">Home</a>
</nav>

<style lang="scss">
  
  a {
    font-size: var(--font-small);
    text-transform: lowercase;
    text-decoration: none;
    color: inherit;

    &:hover {
      text-decoration: underline;
      text-decoration-thickness: 0.1em;
      text-underline-offset: 0.25em;
    }
  }
</style>