---
import { links } from "@/data/config.mjs";
import Copyright from "./Copyright.astro";
---

<footer>
  <ul>
    <li><a href=`mailto:${links.email}`>Email</a></li>
  </ul>
  <Copyright />
</footer>

<style lang="scss">
  @use "@styles/utils";

  footer {
    @extend .defer;
  }
</style>
